<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Agregar Partidos y Eventos
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addProduct()" [disabled]="!formProdutAdd.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProdutAdd">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Juego</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pjuego"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Estadio</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pestadio"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pfecha"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Marcador</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pmarcador"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row><ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Goles</ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pgoles"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Anotadores</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="panotadores"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tarjetas</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="ptarjetas"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Lesionados</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="plesionados"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Codigo</ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pcodigo"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
  
</ion-content>
