<ion-header>
  <ion-toolbar id="gomez">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="tittle">
      <ion-text color="white">
        <center>APP FUTBOLERA</center>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let mejenga of products">
      <ion-item>
        <ion-icon name="football-outline" slot="start"></ion-icon>
        <ion-label>{{ mejenga.juego}}</ion-label>
        <ion-button fill="outline" slot="end" [routerLink]="['./', mejenga.codigo]">Detalles</ion-button>
      </ion-item>
      <ion-card-content>
        <center><ion-icon name="location"></ion-icon><p>Estadio: {{ mejenga.estadio }}</p></center> <br><br>
        <p>Fecha: {{ mejenga.fecha }}</p> <br>
        <p>Marcador: {{ mejenga.marcador }}</p> <br> 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>