<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.juego}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteProduct()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <center>
    <br>
    <img src="assets/img/FUTIONIC.jpg" alt=""><br><br>
    <div padding>Cantidad de goles: {{product.goles}} </div><br>
    <div padding>Anotadores: {{product.anotadores}} </div><br>
    <div padding>Tarjetas: {{product.tarjetas}} </div><br>
    <div padding>Lesionados: {{product.lesionados}} </div>
  </center>
</ion-content>
