<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clase 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenedor">
    <ion-label for="name">Nombre</ion-label>
    <input type="text" id="name" [value]="2.3 + 4">
    <input type="text" id="name2"  [(ngModel)]="nombre">
    <button (click)="changeName()">Change</button>
  </div>
  {{nombre}}
  <h2>Listado de partidos</h2>
  <page-products [nombre]="nombre"></page-products>
</ion-content>
